<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
  </head>
  <body>
    <%- include('./partials/header') %>
      <main class="mdl-layout__content">
        <div class="page-content" style="padding:10px;">
          <h2>About</h2>
          <h5><%= message %></h5>
          <p>
            Maecenas in accumsan lacus. Fusce efficitur odio non feugiat commodo. Nulla erat felis, tincidunt sit amet dapibus at, condimentum nec sapien. Sed id ullamcorper odio, a sollicitudin lorem. Suspendisse neque risus, faucibus dapibus lorem in, placerat scelerisque magna. Nullam eget dui eget ligula viverra sollicitudin. Proin elit tellus, lacinia aliquam turpis in, ultricies semper magna. Aliquam bibendum arcu velit, ut tincidunt risus sollicitudin a. Mauris sit amet pulvinar massa. Nulla velit neque, facilisis et felis sit amet, pulvinar dapibus augue. Nunc facilisis eros blandit quam pharetra, non ultrices enim ornare. Pellentesque a elit non diam malesuada rutrum. Praesent finibus, velit eu mattis euismod, eros urna suscipit turpis, tincidunt tincidunt elit erat eget sapien.
          </p>
        </div>
      </main>
    </div>
    <script crossorigin="anonymous" defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
  </body>
</html>

