<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
  </head>
  <body>
    <%- include('./partials/header') %>
      <main class="mdl-layout__content">
        <div class="page-content" style="padding:10px;">
          <div class="mdl-components__warning" id="js-offline-banner"><b> 😵You're offline!</b> You might want to look up data you already checked!</div>
          <form id="js-search-form">
            <div class="mdl-textfield mdl-js-textfield">
              <input class="mdl-textfield__input" name="search-query" type="text">
              <label class="mdl-textfield__label" for="search-query">Your search...</label>
            </div>
          </form>
          <div id="js-search-results"></div>
        </div>
      </main>
    </div>
    <script crossorigin="anonymous" defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script defer src="/app.js"></script>
    <script defer src="/search.js"></script>
  </body>
</html>
